@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nav-menu {
  min-height: 100vh;
  background-color: rgb(25, 146, 212);
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

.logo {
  padding-top: 10px;
  padding-bottom: 50px;
}

.logo > h2 {
  font-weight: 600;
  font-size: 1.75rem;
}

li > p {
  font-weight: 500;
  font-size: 1.2rem;
}

.logo > svg {
  fill: white;
  height: 50px;
  justify-self: center;
}

ul > li {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 8px;
  align-items: center;
  padding-bottom: 12px;
}

nav > ul > li > svg {
  fill: white;
  height: 25px;
  justify-self: center;
}

.settings {
  padding-top: 40px;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px 20px;
}

.top {
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.search-bar > input {
  border-radius: 10px;
  width: 70vh;
  height: 25px;
  border: none;
  background-color: rgb(226, 232, 240);
  padding-left: 10px;
}

.search-bar > svg,
.top-profile > svg {
  height: 25px;
}

.top-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-profile > img {
  height: 60px;
}

.top-profile > p {
  font-size: 1.1rem;
  font-weight: 500;
}
